:root {
  --primary-font: "Courier New", Courier, monospace;
  --secondary-bg-color: #091126;
}

body {
  grid-template: 1fr 1fr 1fr/1fr;
  background-color: rgba(0, 0, 0, 0.508);
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.player {
  align-self: end;
}
.player > span {
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
  width: fit-content;
}
.editor-grid {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  grid-template: 1fr 5fr 0.5fr/1fr;
  width: 90vw;
  height: 90vh;

  margin: auto;
  gap: 5px;
  background-color: black;
}
.editor-grid > div {
  background-color: white;
}
.map-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 230px;
}
.map {
  display: flex;
  position: relative;
  width: 1920px;
  height: 150px;
  scrollbar-color: white transparent;

  align-self: start;
  gap: 18px;
}
h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: normal;
}

.click-placement {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 255, 0.7);
  transform: translate(-21px, 5px);
  cursor: pointer;
  background-size: 100% 100%;
  border-radius: 50%;
  border: solid white thin;
}
.timemarker {
  position: relative;
  width: 5px;
  background-color: white;
  flex: 0 0 auto;
  border: solid black;
  cursor: pointer;
}
.second {
  height: 100px;
}
.mili-second {
  height: 60px;
}
.tool-bar {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-size: 3rem;
  align-items: center;
  background-color: var(--secondary-bg-color);
  height: fit-content;
  align-self: center;
}
.tool-bar > div {
  cursor: pointer;
}
.tool-bar > div:hover {
  color: blue;
}
.player {
  color: black;
}
.active-prompt {
  color: rgb(12, 240, 240);
}
.current-time {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid rgba(38, 199, 151, 0.741);
  left: 946.55px;
  z-index: 10;
}
#time-picker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 32;
}
.get-prompt {
  position: absolute;
  width: 1520px;
  height: 180px;
  left: 400px;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  cursor: pointer;
  color: transparent;
  text-align: center;
  line-height: 2.6;
  z-index: 20;
}
.get-prompt > div:hover {
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
}
.tool-bar > div:hover > form {
  opacity: 1;
}
.long-container {
  transform: translate(-18px, 5px);
  left: auto;
}
.long-container > div {
  transform: translate(0px);
  color: aquamarine;
}
.duration-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  opacity: 0;
}
.duration-form > button {
  background-color: black;
  background-color: rgb(94, 93, 93);
  border: solid black;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
}
.duration-form > button:hover {
  background-color: rgb(0, 0, 0);
}
.cplayer {
  margin-top: 10px;
  width: 100vw;
  height: 215px;
  transform: translateY(22.5px);
  position: absolute;
  z-index: 10;
}
.progress_section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.input_line {
  background-color: aqua;
}
#prompt_location {
  position: absolute;
  width: 90vw;
  height: 80px;
  z-index: 1;
}
.p_container {
  height: 45px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.progression-bar {
  width: 90vw;
  height: 5px;
  background-color: rgba(166, 162, 162, 0.683);
}
.progress_thumb {
  width: 6px;
  height: 45px;
  position: absolute;
  background-color: white;
  transform: translateY(-22px);
  cursor: pointer;
}
#time_guage {
  background: rgba(0, 0, 0, 0.79);
  border: transparent;
  color: rgb(231, 225, 225);
  margin-top: 7px;
  padding: 5px;
  font-weight: bold;
}
#background-image {
  filter: brightness(0.6);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#background-video {
  height: auto;
  filter: brightness(0.6);
}

#modal {
  display: grid;
  grid-template: 7vh 80vh 10vh/35vw 65vw;
  gap: 10px;
  position: absolute;
  height: 20vh;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: var(--primary-bg-color);
}
.modal-toolbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: var(--secondary-bg-color);
  grid-area: 3/1/4/3;
}
.editor-header {
  display: flex;
  align-items: center;
  grid-area: 1/1/2/3;
  width: 100vw;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    var(--secondary-bg-color)
  );
}
.modal-toolbar > div {
  cursor: pointer;
}

#add-map {
  display: grid;
  grid-template: 0.3fr 5fr/1fr;
  height: 100%;
}
#add-map-form {
  display: flex;
  flex-direction: column;
}
#login {
  display: None;
}
a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.861);
  width: 100%;
}
.button-group {
  display: flex;
  color: var(--primary-color);
  cursor: pointer;
  height: 50px;
}
.button-group > div {
  width: 50%;
  text-align: center;
  padding-top: 5px;
  font-size: 1.5rem;
}
#add.active {
  background-image: linear-gradient(
    to top,
    rgba(57, 166, 246, 0),
    rgb(12, 80, 128)
  );
}
#selected.active {
  background-image: linear-gradient(
    to top,
    rgba(57, 166, 246, 0),
    rgb(12, 80, 128)
  );
}
#add-map-form {
  display: none;
}
#selected-summary {
  display: none;
  flex-direction: column;
  justify-content: space-around;
}
#map-name {
  font-size: 2rem;
}

#map-video {
  width: 100%;
  height: auto;
}
#map-image {
  width: 100%;
  height: auto;
}
#summary-wrapper {
  display: flex;
  justify-content: center;
}
.not-selected {
  align-self: center;
}
.beat-map {
  display: flex;
  height: 100px;
  gap: 50px;
  border-bottom: solid;
  border-width: thin;
  border-color: var(--primary-color);
  width: 90%;
  padding: 10px;
  cursor: pointer;
}
.beat-map:hover {
  background-image: linear-gradient(
    to left,
    rgba(57, 166, 246, 0),
    rgb(12, 80, 128)
  );
}

.beat-map-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.beat-map-image {
  max-width: 177px;
  max-height: 99px;
}
.dark_mode {
  --primary-color: rgba(255, 255, 255, 0.811);
  --primary-bg-color: #00000c;
}

.light_mode {
  --primary-color: #000000;
  --primary-bg-color: #eeeeee;
}
