:root {
  --primary-font: "Courier New", Courier, monospace;
  --secondary-bg-color: #091126;
  --primary-color: rgba(255, 255, 255, 0.7);
}

.general-form {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  padding: 13px;
  color: var(--primary-color);
}
.general-form label {
  font-size: 1.3rem;
}
.general-form input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: solid grey;
  border-width: 1px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  height: 35px;
  font-size: 1.4rem;
  outline: none;
  margin-bottom: 20px;
}
.general-form input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: solid grey;
  border-width: thin;
  color: var(--primary-color);
}
.general-form select {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1.1rem;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 5px;
}
.general-form input[type="file"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
.general-form button {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.general-form button:hover {
  filter: brightness(1.2);
}
.general-form button:disabled {
  filter: grayscale(1);
  cursor: wait;
}

.dark_mode {
  --primary-color: rgba(255, 255, 255, 0.811);
  --primary-bg-color: #00000c;
}

.light_mode {
  --primary-color: #000000;
  --primary-bg-color: #eeeeee;
}

.dialog {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.852);
  z-index: 11;
}
.menu-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  font-size: 2rem;
}
.menu-button > button {
  cursor: pointer;
  color: white;
  background-color: transparent;

  border: none;
  font-size: 4rem;
}
